@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--foreground-rgb: 0, 0, 0;
--background-start-rgb: 214, 219, 220;
--background-end-rgb: 245, 245, 245;
}
.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 33, 37, 41;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-end-rgb)
}